<div class="container-fluid shadow nav">
  <div class="container d-flex justify-content-between align-items-center p-1">
    <div class="text-center">
      <img class="logo img-fluid" src="../../../assets/img/Logo-newblue.png" alt="logo B">
      <h1 id="title" class="text-capitalize fst-italic fw-bold m-0 text-primary">booking app</h1>
    </div>
    <div class="nav-items">
      <ul class="m-0 d-flex">
        <li class="m-1">
          <button class="px-4 shadow" routerLink="" routerLinkActive="">search</button>
        </li>
        <li class="m-1">
          <button class="px-4 shadow" routerLink="cart" routerLinkActive="active">carrello</button>
        </li>
        <li class="m-1">
          <button class="px-4 shadow" routerLink="login" routerLinkActive="active">login</button>
        </li>
      </ul>
    </div>

  </div>
</div>

