
ul {
  list-style-type: none;
}

.nav {
  background-image: linear-gradient(to right, #2995fb42, #2996FB);
}

.container-title {
  width: 200px;
}

#title {
  // non è il blu concordato
  color: #2996FB;
}

.logo {
  width: 50px;
}

button {
  background-color: white;
  border: 0;
  border-radius: 15px;
  height: 45px;
  text-transform: capitalize;
}

// hover
button:hover {
  border-radius: 15px;
  transform: translate(0px, 10px);
  transition: 0.6s;
}
button:focus {
  transform: translate(0px, 10px);
}

.active {
  // border: 3px solid #1e75c7;
  color: #2996FB;
  border: 3px solid white;
}





