.gen-card {


  border: 5px solid #2996fb;
  position: relative;
  width: 35%;
  margin: 150px auto;

  .my-title {

    font-size: 20px;
    color: white;
    background-color: #2995fbc2;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    width: 60%;
    margin: auto;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: -55px;
    right: 50%;
    transform: translateX(50%);

  }

  &.contact {

    border-color: lightgrey;
    position: fixed;
    bottom: 0;
    right: 10px;
    margin-bottom: 35px;
    width: 18%;

    &:hover {
      cursor: pointer;
    }

    &.closed {

      border: none;
      bottom: -4px;

      .card-body {
        display: none;
      }
    }

  }

  &.review {

    &:hover {
      cursor: pointer;
    }

    &.closed {

      border: none;
      margin-bottom: 150px;

      .my-title {

        border-radius: 25px;
      }

      .card-body {

        display: none;
      }
    }
  }
}
