<div class="container container-servizi mt-5 d-flex">
  <div class="lista-servizi">
    <div class="div d-flex align-items-center">
      sx
      <ul class="p-0 m-0 d-flex">
        <li>icona</li>
        <li>icona</li>
        <li>icona</li>
        <li>icona</li>
        <li>icona</li>
      </ul>
      dx
    </div>
  </div>
</div>
<div class="container ">
  <div class="container d-flex justify-content-center mt-3">
    <button id="contatta" class="px-3">contatta la struttura</button>
    <!-- DEVE ESSERE COLLEGATO AL POP UP INFONDO ALLA PAGINA -->
  </div>
</div>
