<div class="container container-servizi mt-5 d-flex">
  <div class="lista-servizi">


    <div class="div d-flex align-items-center">

      <a id="arrow"><mat-icon>keyboard_arrow_left</mat-icon></a>
      <ul class="p-0 m-0 d-flex not-allowed">
        <li><mat-icon>ac_unit</mat-icon></li>
        <li><mat-icon>airport_shuttle</mat-icon></li>
        <li><mat-icon>beach_access</mat-icon></li>
        <li><mat-icon>child_care</mat-icon></li>
        <li><mat-icon>free_breakfast</mat-icon></li>
        <li><mat-icon>room_service</mat-icon></li>
        <li><mat-icon>smoke_free</mat-icon></li>
      </ul>
      <a id="arrow"><mat-icon>keyboard_arrow_right</mat-icon></a>

    </div>
  </div>
</div>

<!-- TASTO CHE APRE IL POPUP IN FONDO  -->
<div class="container ">
  <div class="container d-flex justify-content-center mt-3">
    <button id="contatta" class="px-3" (click)="onOpenContact()">Contatta la struttura</button>
  </div>
</div>
