
<!-- prezzi -->
<div class="container-hotel-price d-flex">
  <div *ngFor="let room of hotel!.rooms, let i = index" class="hotel-price text-center d-flex flex-column align-items-center justify-content-center"
  [ngClass]="{'first': i == 0,
    'last': i == hotel!.rooms.length - 1  }">
    <div class="p-2 align-self-center">
        <mat-icon>airline_seat_individual_suite</mat-icon>
    </div>
    <div class="gray-line"></div>

    <h3>{{room.label}}</h3>
    <p class="price fs-3">{{room.price}}€</p>
    <button class="px-4" (click)="addToCart.emit(room)">Prenota</button>
  </div>

</div>
