
<!-- sostituire tutto con delle variabili -->

<div class="container">
  <!-- <h1>{{nomehotel}}</h1> -->
  <span class="fs-1 d-block mb-5">{{name}}</span>
  <span class="subtitle fs-3 mb-3 d-block">
    Descrizione:
  </span>

  <!-- <p>
    {{descrizionehotel}}
  </p> -->
  <span>
    Villa di lusso in cima alla collina con piscina a Pigra con vista sul lago di Como. Villa Peduzzi offre una delle
    viste
    più belle del lago di Como, completamente restaurata da una ex torre di avvistamento medievale,
    Villa di lusso in cima alla collina con piscina a Pigra con vista sul lago di Como. Villa Peduzzi offre una delle
    viste
    più belle del lago di Como,

    Villa di lusso in cima alla collina con piscina a Pigra con vista sul lago di Como. Villa Peduzzi offre una delle
    viste
    più belle del lago di Como, completamente restaurata da una ex torre di avvistamento medievale, con l'obiettivo di
    fornire il soggiorno più confortevole e lussuoso!
  </span>
</div>
