// SEARCH BAR
.searchbar {
  transform: translateY(2em);
}

.form[type=text] {
  width: 20%;
  border-radius: 0 15px 15px 0;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  border-radius: 15px;
  border: 0;
  outline: none;
}

.cici {
  border: 5px solid #2996FB;
  border-radius: 15px;
}

.label {
  background-color: #3C4FFF;
  border-radius: 15px 0 0 15px;
  display: none;
}



// HOVER SEARCH BAR

.form:hover {
  border-radius: 0 15px 15px 0;
  outline: none;
}

.form:hover {
  width: 60%;
  transition: 0.6s;
}

.searchbar:hover .label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.searchbar:hover .form {
  display: block;
  border-radius: 0 15px 15px 0;
}

// copertina
.palme {
  height: 40vh;
  background-image: url(../../../../assets/img/palma_NG1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  position: relative;
}

#aereo {
  width: 150px;
  border: 5px solid white;
  border-radius: 50%;
  animation: rotate 2s infinite;
  position: absolute;
  bottom: -22%;
}

@keyframes rotate {
  0% {
    transform: rotate(359deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

