<div class="container-fluid mt-2">
  <form [formGroup]="search" class="container searchbar text-center d-flex justify-content-center">
    <div class="label">
      <span class="text-light">dove vuoi andare:</span>
    </div>
    <input placeholder="Cerca..." class="form" type="text" formControlName="text">
    <button (click)="searchHotels.emit(search.value.text.toLowerCase())" type="submit">SEARCH</button>
  </form>
</div>

<div class="container-fluid">
  <div class="container palme d-flex justify-content-center align-items-end">
    <img id="aereo" class="img-fluid" src="../../../../assets/img/aereo.png" alt="aereo">
  </div>
</div>
