<!-- sostituire tutto con delle variabili -->

<div class="container">
  <!-- <h1>{{nomehotel}}</h1> -->
  <h1>Hotel Termini</h1>
  <span class="subtitle">
    Descrizione:
  </span>

  <!-- <p>
    {{descrizionehotel}}
  </p> -->
  <p>
    Villa di lusso in cima alla collina con piscina a Pigra con vista sul lago di Como. Villa Peduzzi offre una delle viste
    più belle del lago di Como, completamente restaurata da una ex torre di avvistamento medievale,
    Villa di lusso in cima alla collina con piscina a Pigra con vista sul lago di Como. Villa Peduzzi offre una delle viste
    più belle del lago di Como,

    Villa di lusso in cima alla collina con piscina a Pigra con vista sul lago di Como. Villa Peduzzi offre una delle viste
    più belle del lago di Como, completamente restaurata da una ex torre di avvistamento medievale, con l'obiettivo di
    fornire il soggiorno più confortevole e lussuoso!
  </p>
</div>
