<div class="container-fluid mx-3 py-4 ms-0">
  <div class="container d-flex align-items-center">
    <div class="col-3">
      <span class="text-capitalize">
        ©2022 copyright booking app inc.
      </span>
    </div>
    <div class="col-6">
        <ul class="termini d-flex m-0">
          <li><span>privacy</span></li>
          <li><span>termini</span></li>
          <li><span>dettagli dell'azienda</span></li>
        </ul>
    </div>
    <div class="col-3 text-capitalize">
      <span>altra cosa da scrivere a caso</span>
    </div>

  </div>
</div>
