  <app-arrowscroll></app-arrowscroll>
  <div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="col-6">
      <app-descrizione [name]='hotel!.name'></app-descrizione>
      <app-servizi></app-servizi>
    </div>
    <div class="col-6">
      <app-mappa [address]='hotel!.location.address'></app-mappa>
    </div>
  </div>

    <div class="container container-prezzi my-5 d-flex justify-content-center">
      <app-prezzi [rooms]="hotel!.rooms"></app-prezzi>

    </div>

  <app-generic-card title="Lascia una recensione">
    <app-review-form
    (hoverStar)="onHoverStar($event)"
    (starLeave)="onStarLeave()"
    (setRating)="onSetRating($event)"
    [review]="review"
    (sendReview)="sendReview($event)"

    [starId]="stars"
    [rating]="hover || rating"
    ></app-review-form>
  </app-generic-card>

  <app-generic-card title="Hotel Termini">

    <app-contact-form></app-contact-form>

  </app-generic-card>



