  <app-arrowscroll></app-arrowscroll>
  <div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="col-6">
      <app-descrizione></app-descrizione>
      <app-servizi (openContact)="openContact($event)"></app-servizi>
    </div>
    <div class="col-6">
      <app-mappa></app-mappa>
    </div>
  </div>

  <div class="container container-prezzi my-5 d-flex justify-content-center">
    <app-prezzi></app-prezzi>
  </div>

  <app-generic-card title="Lascia una recensione" state="review closed">
    <app-review-form
    (hoverStar)="onHoverStar($event)"
    (starLeave)="onStarLeave()"
    (setRating)="onSetRating($event)"
    [review]="review"
    (sendReview)="sendReview($event)"

    [starId]="stars"
    [rating]="hover || rating"
    ></app-review-form>
  </app-generic-card>

  <div class="container position-relative" >

    <app-generic-card title="Hotel Termini" state="contact" *ngIf="contacts">

      <app-contact-form></app-contact-form>

    </app-generic-card>

  </div>





