
<div class="hotel-card">
  <div class="top-section slider grid">
    <div class="main-img">
      <img src="../../../../assets/images/boh.jpg" height="147px" alt="">
    </div>
    <div class="small-img">
      <img src="../../../../assets/images/boh.jpg" height="49px" alt="">
      <img src="../../../../assets/images/boh.jpg" height="49px" alt="">
      <img src="../../../../assets/images/boh.jpg" height="49px" alt="">
    </div>
  </div>
  <div class="bottom-section">
    <h2>
      {{title}}
    </h2>
    <div class="stars">
      <div>
        <i class="icon ion-ios-star-outline"
        *ngFor="let star of stars ; let i = index"
        [ngClass]="{
          'ion-ios-star': i < this.hotelStars!,
          'ion-ios-star-outline': i >= this.hotelStars!}"
        ></i>
        <span>{{rating}}</span>
        <div class="price">a partire da <strong>{{price}}€</strong></div>
      </div>
    </div>

  </div>
</div>
