
<div class="hotel-card" >
  <div class="top-section slider grid" (mouseenter)="changeImg()" (mouseleave)='stopCarousel()'>
    <div class="main-img">
      <img src="{{bigImg}}" height="147px" alt="">
    </div>
    <div class="small-img" >
      <img *ngFor="let img of slider" src="{{img}}" height="49px"   alt="">
    </div>
  </div>
  <a [routerLink]="['/hotel', id]">
    <div class="bottom-section">
      <h3>
        {{title}}
      </h3>
      <div class="stars">
        <div>
          <i class="icon ion-ios-star-outline"
          *ngFor="let star of stars ; let i = index"
          [ngClass]="{
            'ion-ios-star': i < this.hotelStars!,
            'ion-ios-star-outline': i >= this.hotelStars!}"
          ></i>
          <span>{{rating}}</span>
          <div class="price">a partire da <strong>{{price}}€</strong></div>
        </div>
      </div>
    </div>
  </a>
</div>



