/* You can add global styles to this file, and also import other style files */
// @import url(assets/styles/hotel.scss)
@use "./assets/styles/hotel.scss";

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .wrap-item{
  margin: 0 10px;
}
}

ul {
  list-style-type: none;
}

