.hotel-card{
  margin-top: 10rem;
  max-width: 410px;
  border: 8px solid #CBCBCB;
  border-radius: 22px;
  box-shadow: -4px 4px 4px rgba(114, 114, 114, 0.5);
}
.grid{
  display: grid;
}
.slider{
  // gap: 3px;
  grid-template-rows: 150px;
  grid-template-columns: 70% 30%;

}

.main-img{
  border-radius: 14px 0px 0px 0px;
  border-bottom: 4px solid #CBCBCB;
  overflow: hidden;

}
.small-img{
  overflow: hidden;
  border-radius: 0px 14px 0px 0px;
  border-width: 0 0 4px 4px;
  border-color: #CBCBCB;
  border-style: solid;
  // max-width: 100px;
}
img{
  width: 100%;

  object-fit:cover;

}
.bottom-section{
  h2{
    margin: 0;
  }
  margin: .5rem 1.5rem;
  span{
    margin-left: 5px;
  }
  i{
    color: #2996FB;
  }
}
.hotel-card:hover , .hotel-card:hover .small-img, .hotel-card:hover .main-img{
  transition: 0.2s;
  border-color: #2996FB;
}

